@charset "UTF-8";
/* Header MenuBar Buttons Padding */
.li-item {
	padding-left: 35px;
	padding-right: 35px;
}

/* MegaMenu */
.navbar .megamenu {
	padding: 1rem;
}
.navbar .has-megamenu {
	position:static!important;
}
.navbar .megamenu{
	left:0;
	right:0;
	width:100%;
	margin-top:0;
}
