<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.AdminDashBoardMapper">

	<!-- 오늘의 방문자 수 -->
	<select id="getTodayVisitorTotalCount" resultType="int">
		SELECT COUNT(*) FROM visitor WHERE DATE_FORMAT(visit_time, "%Y-%m-%d") = CURDATE()
	</select>
	
	<!-- 오늘의 공지사항 작성 수 -->
	<select id="getTodayNoticeTotalCount" resultType="int">
		SELECT COUNT(*) FROM notice WHERE DATE_FORMAT(reDate, "%Y-%m-%d") = CURDATE()
	</select>
	
	<!-- 오늘의 1:1문의 작성 수 -->
	<select id="getTodayInquiryTotalCount" resultType="int">
		SELECT COUNT(*) FROM inquiry WHERE DATE_FORMAT(reDate, "%Y-%m-%d") = CURDATE()
	</select>
	
	<!-- 오늘의 여행 포토 작성 수 -->
	<select id="getTodayTravelPhotoTotalCount" resultType="int">
		SELECT COUNT(*) FROM photoreview WHERE DATE_FORMAT(reDate, "%Y-%m-%d") = CURDATE()
	</select>
	
	<!-- 오늘의 가입 회원 수 -->
	<select id="getTodayRegisterMemberTotalCount" resultType="int">
		SELECT COUNT(*) FROM account WHERE DATE_FORMAT(regDate, "%Y-%m-%d") = CURDATE()
	</select>
	
	<!-- 오늘의 매출 -->
	<select id="getTodayRevenueTotalCount" resultType="int">
		SELECT IFNULL(SUM(Payment), 0) FROM historyorder WHERE OrderDate = CURDATE()
	</select>
	
	<!-- 기간별 매출 통계 -->
	<select id="RevenueByPeriod" resultType="hashmap">
		SELECT DATE_FORMAT(OrderDate, '%Y-%m') order_date, SUM(Payment) AS Payment FROM historyorder GROUP BY order_date
	</select>
	
	<!-- 회원 성별 비율 -->
	<select id="ManRatio" resultType="int">
		SELECT COUNT(Sex) AS man FROM account WHERE Sex = 1
	</select>
	<select id="WomanRatio" resultType="int">
		SELECT COUNT(Sex) AS woman FROM account WHERE Sex = 0
	</select>
	
	<!-- 관리자 정보 출력 -->
	<select id="AdminProfile" resultType="MemberVO">
		SELECT * FROM Account WHERE UserID = #{AdminID}
	</select>
	
	<!-- 관리자 정보 수정 -->
	<update id="AdminProfileEdit">
		UPDATE Account SET Password = #{Password}, Name = #{Name}, Phone = #{Phone} WHERE UserID = #{UserID}
	</update>
</mapper>