<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.AdminTravelInfoMapper">

	<!-- 비자 정보 등록 -->
	<insert id="VisaInfoWrite">
		INSERT INTO visainfo(visaContent) VALUES (#{visaContent})
	</insert>
	
	<!-- 비자 정보 수정 -->
	<insert id="VisaInfoModify">
		UPDATE visainfo SET visaContent = #{visaContent} WHERE VID = #{VID}
	</insert>
	
	<!-- 비자 정보 조회 -->
	<select id="VisaInfoView" resultType="VisaInfoVO">
		SELECT * FROM visaInfo
	</select>
	
	<!-- 여행준비물 등록 -->
	<insert id="SuppliesInfoWrite">
		INSERT INTO suppliesinfo(suppliesContent) VALUES (#{suppliesContent})
	</insert>
	
	<!-- 여행준비물 수정 -->
	<insert id="SuppliesInfoModify">
		UPDATE suppliesinfo SET suppliesContent = #{suppliesContent} WHERE SID = #{SID}
	</insert>
	
	<!-- 여행준비물 조회 -->
	<select id="SuppliesInfoView" resultType="SuppliesInfoVO">
		SELECT * FROM suppliesinfo
	</select>
</mapper>