<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.InquiryBoardMapper">
	<!-- 1:1 문의 작성 -->
	<insert id="InquiryWrite">
		INSERT INTO inquiry(Category, Name, Phone, Title, Content, Status) VALUES (#{category}, #{name}, #{phone}, #{title}, #{content}, 0)
	</insert>

	<!-- 1:1 문의 출력 -->
	<select id="InquiryView" resultType="InquiryVO">
		SELECT * FROM inquiry ORDER BY iId DESC LIMIT #{Page}, #{PageSize}
	</select>
	
	<!-- 1:1 문의 게시물 총 갯수 -->
	<select id="getInquiryTotalCount" resultType="int">
		SELECT COUNT(*) FROM inquiry
	</select>
</mapper>