<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.PackageMapper">

	<!-- 여행패키지 등록  -->
	<insert id="PackageWrite" parameterType="hashMap">
			INSERT INTO packageproduct(ProductName, OverView, Supplies, TravelPlan, StarTravelPeriod, ArrivalTravelPeriod, Hit, Theme, Area, ReservationStatus, MinReservation, AdultPrice, KidPrice, SmallKidPrice, s_file_name, Director, flag) 
			VALUES(#{productname}, #{overview}, #{supplies}, #{travelplan}, #{startravelperiod}, #{arrivaltravelperiod}, 0, #{theme}, #{area}, 0, #{minreservation}, #{adultprice}, #{kidprice}, #{smallkidprice}, #{s_file_name}, #{director}, #{flag})
 	</insert>
	
	<!-- 여행패키지 출력 -->
	<select id="ProductPackageView" resultType="PackageVO">
		SELECT * FROM packageproduct LIMIT #{Page}, #{PageSize}
	</select>
	
	<!-- 여행패키지 총 갯수 -->
	<select id="getProductPackageTotalCount" resultType="int">
		SELECT COUNT(*) FROM packageproduct
	</select>
	
	<!-- 여행패키지 상세페이지 출력 -->
	<select id="ProductPackageDetail" resultType="PackageVO">
		SELECT * FROM packageproduct WHERE PID = #{pid};
	</select>
	
	<!-- 여행패키지 삭제 -->
	<delete id="ProductPackageDelete">
		DELETE FROM packageproduct WHERE PID = #{pid}
	</delete>
	
	<!-- 여행패키지 PID해당하는 파일검색 -->
 	<select id="ProductPackageFileName" resultType="String">
		SELECT s_file_name FROM packageproduct WHERE PID = #{pid};
	</select>
	
	<!-- 여행패키지 수정 -->
	<update id="ProductPackageModify" parameterType="PackageVO">
		UPDATE packageproduct 
		SET ProductName = #{productname}, 
			OverView = #{overview}, 
			Supplies = #{supplies}, 
			TravelPlan = #{travelplan}, 
			StarTravelPeriod = #{startravelperiod}, 
			ArrivalTravelPeriod = #{arrivaltravelperiod}, 
			Theme = #{theme}, 
			Area = #{area}, 
			MinReservation = #{minreservation}, 
			AdultPrice = #{adultprice}, 
			KidPrice = #{kidprice}, 
			SmallKidPrice = #{smallkidprice}, 
			s_file_name = #{s_file_name}, 
			Director = #{director},
			flag = #{flag}
		WHERE pid = #{pid}
 	</update>
 	
    <!-- 관리자 여행패키지 검색 -->
	<select id="ProductPackageSearch" resultType="PackageVO">
		SELECT * FROM packageproduct <include refid="Search"></include> LIMIT #{Page}, #{PageSize}
	</select>
	
	<!-- 관리자 여행패키지 검색된 결과 총 갯수, 페이징위해서 사용 -->
	<select id="getProductPackageSearchTotalCount" resultType="int">
		SELECT COUNT(*) FROM packageproduct <include refid="Search"></include>
	</select>
	
	<sql id="Search">
		<choose>
			<when test="searchTheme != 'noTheme' and searchArea == 'noArea'">
				WHERE Theme = #{searchTheme} AND ProductName LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
			<when test="searchTheme == 'noTheme' and searchArea != 'noArea'">
				WHERE Area = #{searchArea} AND  ProductName LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
			<when test="searchTheme != 'noTheme' and searchArea != 'noArea'">
				WHERE Theme = #{searchTheme} AND Area = #{searchArea} AND ProductName LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
			<when test="searchTheme == 'noTheme' and searchArea == 'noArea'">
				WHERE ProductName LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
		</choose>
	</sql>
	
	<!-- 메인 검색 관련 부분 -->
    <!-- 메인 여행패키지 검색 -->
	<select id="MainProductPackageSearch" resultType="PackageVO">
		SELECT * FROM packageproduct WHERE Area = #{searchArea} AND StarTravelPeriod = #{searchStartDate} AND Theme = #{searchTheme} LIMIT #{Page}, #{PageSize}
	</select>
	
	<!-- 메인 여행패키지 검색된 결과 총 갯수, 페이징위해서 사용 -->
	<select id="getMainProductPackageSearchTotalCount" resultType="int">
		SELECT COUNT(*) FROM packageproduct WHERE Area = #{searchArea} AND StarTravelPeriod = #{searchStartDate} AND Theme = #{searchTheme}
	</select>
	
	
</mapper>