<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.PackageMapper">

<!-- 여행패키지 등록  -->
	<insert id="PackageWrite" parameterType="hashMap">
			INSERT INTO packageproduct(ProductName, Theme, Country, Area, TravelCity ,s_file_name, o_file_name, StarTravelPeriod, ArrivalTravelPeriod, ReservationStatus, MaxReservationStatus, MinReservation, AdultPrice, KidPrice, SmallKidPrice, Director, Productcode, Price) 
			VALUES (#{productname}, #{theme}, #{country}, #{area}, #{travelCity}, #{s_file_name}, #{o_file_name}, #{starTravelPeriod}, #{arrivalTravelPeriod}, #{reservationStatus}, #{maxReservationStatus}, #{minReservation}, #{adultPrice}, #{kidPrice}, #{smallKidPrice}, #{director}, #{productcode}, #{price})			
 
 	</insert>
	
	<!-- 여행패키지 출력 -->
	<select id="ProductPackageView" resultType="PackageVO">
		SELECT * FROM packageproduct
	</select>
	
	<!-- 여행패키지 총 갯수 -->
	<select id="getProductPackageTotalCount" resultType="int">
		SELECT COUNT(*) FROM packageproduct
	</select>
</mapper>